= simple_form_for(@org) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name

    = field_set_tag 'Description' do
      .container
        - @org.org_descriptions.each do |d|
          = render 'org_descriptions_form', :f => f, :d => d
        .row
          &nbsp;
        = link_to_add_fields "Add description", f, :org_descriptions

  .form-actions
    = f.button :submit
