.row
  = f.simple_fields_for 'org_descriptions_attributes[]', d do |df|
    .col-sm-2
      = df.input :id, as: :hidden
      = df.input :lang
    .col-sm-8
      = df.input :description
    .col-sm-2.destroy
      = df.input :_destroy, as: :hidden
      = button_tag 'Delete', :type => 'button', :class => 'btn btn-danger remove_fields'
