-#
  Used when listing (index) all Organizations
- model_class = Org
- provide(:title, model_class.model_name.human.pluralize.titleize)

.page-header
  %h1=t '.title', default: model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= t :name, default: model_class.human_attribute_name(:name)
      %th= t :membership, default: 'Members*'
      %th=t '.actions', default: t("helpers.actions")
  %tbody

  %tbody
    - @orgs.each do |org|
      %tr
        %td= org.name
        %td
          - if can? :registrar, org
            %em{:style => "color:red;"}
              = org.users.count
          - else
            = org.users.count
        %td
          -if can? :read, org
            = link_to org_path(org), class: 'btn btn-xs', title: "#{ t('.show', default: t('helpers.links.show')) }" do
              = glyph 'info-sign'
          -if can? :update, org
            = link_to edit_org_path(org), class: 'btn btn-xs', title: "#{ t('.edit', default: t('helpers.links.edit')) }" do
              = glyph 'pencil'
          -if can? :manage, org
            = link_to org_path(org), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-xs', title: "#{ t('.destroy', default: t('helpers.links.destroy')) }" do
              = glyph 'remove'

-if can? :manage, @orgs
  = link_to t('.new', default: t("helpers.links.new")), new_org_path, class: 'btn btn-primary'
%br

.nav(aria-label="page navigating")
  = will_paginate @orgs, renderer: BootstrapPagination::Rails, class:"pagination-sm"
