= simple_form_for @news_source, html: { class: 'form-horizontal' } do |f|
  .form-inputs
    = f.input :name
    = f.input :url
    = f.input :description
    = f.input :full_address
    .container
      .row
        .col-sm-3
          = f.input :lang, :collection => @languages_list, label_method: :name, value_method: :id
        .col-sm-9
          = f.input :category_tokens, :input_html => {"data-load": @news_source.news_categories.to_json}
  .form-actions
    = f.button :submit
    = link_to t('.cancel', default: t("helpers.links.cancel")), news_sources_path, class: 'btn btn-default'
