- model_class = NewsSource
- provide(:title, 'News Sources')

.page-header
  %h1=t '.title', default: model_class.model_name.human.pluralize.titleize

  - unless user_signed_in?
    .alert.alert-warning
      =t ".notLogged", default:"Your are not loged in. To enjoy the goodies of this site, please"
      =link_to "Log in.", new_user_session_path, class:'alert-link'
  - else
    - if should_print_warning?
      - if can? :manage, @news_sources
        .alert.alert-danger
          =t ".manager" , default: "Your are a MANAGER "

      - else
        .alert.alert-info
          =t ".logged", default: "Welcom to the Is It True? web site."


%table.table.table-striped#data_sources{"data-source" => news_sources_url(format: "json")}
  %thead
    %tr
      %th= model_class.human_attribute_name(:name)
      %th Cote
      %th= model_class.human_attribute_name(:url)
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:full_address)
  %tbody

%br

= link_to t('.new', default: t("helpers.links.new")), new_news_source_path, class: 'btn btn-primary'

#rssModal.modal.fade{role:"dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{:data =>{:dismiss => :modal}}='&times'.html_safe;
        %h4.modal-title Modal header
      .modal-body
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", href: "#divRss"}RSS
          %li
            %a{"data-toggle" => "tab", href: "#divVote"}Vote

        .tab-content
          #divRss.tab-pane.fade.in.active

          #divVote.tab-pane.fade{"data-xurl" => news_ratings_url(:format => :json)}


      .modal-footer
        %p &nbsp;


:coffeescript
  jQuery ->
    $('#data_sources').dataTable
      sPaginationType: "full_numbers"
      aLengthMenu: [5,10,25,100]
      iDisplayLength: 5
      bJQueryUI: true
      bProcessing: true
      bServerSide: true
      bStateSave: true
      sAjaxSource: $('#data_sources').data('source')
      columnDefs: [
        {
          render: ( data, type, row ) ->
            shortVal = data
            shortVal = data.substr(0,15) + "..." if data.length > 15

            ret = "<button class='label label-default' " +
            "data-toggle='modal' " +
            "data-target='#rssModal' " +
            "data-sourceUrl='" + data + "' " +
            "data-sourceid='" + row[7] + "' " +
            "data-sourcename='" + row[5] + "'>" +
            shortVal +
            "</button>"
          targets: [2]
        }

        {
          render: (data, type, row) ->
            data + " (" + row[6] + ")"
          targets:[3]

        }

        {
          visible: false
          targets: [5,6,7]
        }

        {
          className: "ratings"
          targets: [1]
        }
      ]
      language: {
        url: "#{datatable_lang_url}"
      }
