- provide(:title, 'Mes Trucs')
- model_class = MesTruc
.page-header
  %h1=t '.title', default: model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:artist)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', default: t("helpers.actions")
  %tbody
    - @mes_trucs.each do |mes_truc|
      %tr
        %td= mes_truc.id
        %td= mes_truc.title
        %td= mes_truc.artist
        //%td=l mes_truc.created_at, format: :long
        %td= mes_truc.created_at.iso8601(3)
        %td
          -if can? :read, mes_truc
            = link_to mes_truc_path(mes_truc), class: 'btn btn-xs', title: "#{ t('.show', default: t('helpers.links.show')) }" do
              = glyph 'info-sign'
          -if can? :update, mes_truc
            = link_to edit_mes_truc_path(mes_truc), class: 'btn btn-xs', title: "#{ t('.edit', default: t('helpers.links.edit')) }" do
              = glyph 'pencil'
          -if can? :manage, mes_truc
            = link_to mes_truc_path(mes_truc), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-xs', title: "#{ t('.destroy', default: t('helpers.links.destroy')) }" do
              = glyph 'remove'

= link_to t('.new', default: t("helpers.links.new")), new_mes_truc_path, class: 'btn btn-primary'
%br

.nav(aria-label="page navigating")
  = will_paginate @mes_trucs, renderer: BootstrapPagination::Rails, class:"pagination-sm"
