- model_class = MesTruc
.page-header
  %h1=t '.title', default: model_class.model_name.human.titleize
.fieldset
  %dl
    %dt.label.label-default= model_class.human_attribute_name(:title)
    %dd
      %pre.prettyprint= @mes_truc.title
    %dt.label.label-default= model_class.human_attribute_name(:artist)
    %dd
      %pre.prettyprint= @mes_truc.artist

.form-group
  = link_to  mes_trucs_path, class: 'btn btn-default' do
    = t('.back', default: t("helpers.links.back"))
    = glyph 'chevron-left'

  - if can? :update, @mes_truc
    = link_to edit_mes_truc_path(@mes_truc), class: 'btn btn-default' do
      = t('.edit', default: t("helpers.links.edit"))
      = glyph 'pencil'
  &nbsp;
  - if can? :manage, @mes_truc
    = link_to t('.destroy', default: t("helpers.links.destroy")), mes_truc_path(@mes_truc), method: "delete", data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-danger'
