%p#notice= notice

%p
  %b Source:
  = @news_rating.news_source_id
%p
  %b Org:
  = @news_rating.org_id
%p
  %b User:
  = @news_rating.user_id
%p
  %b Rating:
  = @news_rating.rating

= link_to 'Edit', edit_news_rating_path(@news_rating)
\|
= link_to 'Back', news_ratings_path
