%li#fat-menu.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
    //= t('.language')
    %span.fa.fa-lg.fa-globe
    %b.caret
  %ul.dropdown-menu
    - previous_enabled = true
    - locale_languages.each do |language|
      - if language[:disabled]
        - if previous_enabled
          - previous_enabled = false
          %li.divider

        %li.disabled
          = link_to language[:label],
                    controller: controller,
                    action: action,
                    set_locale: language[:locale],
                    page: params[:page]
      - else
        %li
          = link_to language[:label],
                    controller: controller,
                    action: action,
                    set_locale: language[:locale],
                    page: params[:page]
