!!! 5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9 " lang="en">
<!--[if gt IE 8]><!-->
%html.no-js{:lang => "en"}
  <!--<![endif]-->
  %head
    /Our site uses UTF8 (Unicode)
    %meta{:content => "text/html; charset=UTF-8", |
          "http-equiv" => "Content-Type"}/
    %meta{:charset => 'utf-8' }/

    /And it supports Android or iPhone as well
    %meta{:content => "width=device-width, user-scalable=yes", |
          :name => "viewport"}/

    %title= full_title(yield(:title))

    / Modernizr helps to keep the site compatible with older browers
    = javascript_include_tag :modernizr
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Black+Ops+One&subset=latin-ext"
    / The styles needed by the application
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'

    / And the javascript
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    = javascript_include_tag 'https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js'
    = javascript_include_tag 'https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js'
    = stylesheet_link_tag 'https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css'

    / Keep forgery away
    = csrf_meta_tags

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-85597904-1', 'auto');
      ga('send', 'pageview');


  %body
    /Warns Internet Explorer (Microsoft) < 7 is too old for this site
    /[if lt IE 7] <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
    = render 'layouts/header'
    .container
      - flash.each do |message_type, message|
        %div{:class => "alert alert-#{message_type}"}= message
      = yield
      = render 'layouts/footer'
      = debug(params) if Rails.env.development?
